*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

/* .conteudo{
    height: 88em;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.container h1{
    font-size: 80px;
    color: #e18412;
}

.imgs{
    background-color: #e18e12;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

.imgs img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 10px solid #000000;
    margin-left: 10px;
}

.imgs .img-central{
    width: 300px;
    height: 300px;
}

.precos{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

.precos h2{
    font-size: 60px;
    background-color:  #e18e12;
    border-radius: 10px;
    padding: 7px;
}

.precos-principal{
    text-align: center;
}

.precos-principal p{
    font-size: 25px;
    margin-top: 20px;
    color: rgb(253, 253, 253);
}

.precos-principal span{
    color: #e18e12;
}

.cont-food{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-food h2{
    font-size: 50px;
    background-color: #e18e12;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    margin: 30px 0px;
}

.pratos-diferentes{
    display: flex;
    justify-content: center;
}

.outros-pratos{
    display: flex;
    text-align: center;
    gap: 20px;
    width: 300px;
    flex-direction: column;
}

.outros-pratos p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.outros-pratos span{
    color:  #e18e12;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #e18e12;
    height: 100px;
    font-size: 30px;
    align-items: center;
    padding: 0px 50px;
}

.footer .telefone{
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer .email{
    display: flex;
    gap: 20px;
    align-items: center;
}

@media(min-width:320px) and (max-width: 480px){
    .container h1{
        margin: 10px 0px;
        font-size: 20px;
        color: #b6a187;
    }

    .imgs{
        padding: 2px;
    }

    .imgs img{
        width: 130px;
        height: 90px;
        border: 3px solid #000000;
    }

    .imgs .img-central{
        width: 180px;
        height: 100px;
    }

    .precos{
        gap: 7px;
        margin-top: 20px;
    }

    .precos h2{
        font-size: 22px;
    }

    .precos-principal p{
        font-size: 14px;
    }
    
    .cont-food h2{
        font-size: 22px;
        margin: 10px 0px;
    }

    .pratos-diferentes{
        width: 100vw;
    }

    .outros-pratos p{
        font-size: 15px;
    }

    .footer{
        font-size: 16px;
        padding: 0px 50px;
        flex-direction: column;
        justify-content: center;
        height: 80px;
        gap: 6px;
    }

}