@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
    box-sizing: border-box;
}

:root{
    --primario: rgb(0, 0, 0);
    --secundario: #e18412;
    --terciário: #e18e12;
    --textoConteudo:
    rgb(253, 253, 253);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primario);
}

.container h1{
    font-size: 3em;
    font-family: "Kanit", serif;
    color: var(--secundario);
}

.imgs{
    background-color: var(--secundario);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

.imgs img{
    width: 11em;
    height: 11em;
    border-radius: 100%;
    border: 10px solid var(--primario);
    margin-left: 10px;
}

.imgs .img-central{
    width: 12em;
    height: 12em;
}

.precos{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}

.precos h2{
    font-size: 2em;
    background-color: var(--terciário);
    border-radius: 10px;
    padding: 0.2em;
    font-family: "Kanit", serif;
}

.precos-principal{
    text-align: center;
}

.precos-principal p{
    font-size: 1.4em;
    margin-top: 1em;
    color: var(--textoConteudo);
    font-family: "Montserrat", serif;
}

.precos-principal span{
    color: var(--secundario);
}

.cont-food{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-food h2{
    font-size: 2em;
    background-color: var(--terciário);
    border-radius: 10px;
    padding: 0.2em;
    text-align: center;
    margin: 30px 0px;
    font-family: "Kanit", serif;
}

.pratos-diferentes{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}

.outros-pratos{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.outros-pratos p{
    font-size: 1.4em;
    color: var(--textoConteudo);
    margin-top: 1em;
    font-family: "Montserrat", serif;
}

.outros-pratos span{
    color:  var(--secundario);
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--secundario);
    height: 100px;
    font-size: 30px;
    align-items: center;
    padding: 0px 50px;
}

.footer .telefone{
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer .email{
    display: flex;
    gap: 20px;
    align-items: center;
}

